
 
    <br><br>
    <footer class="footer text-white text-center text-lg-start " style="margin-top:20%; background-color: rgb(54, 136, 167);">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12">
            <h5 class="text-uppercase">Clas royal and wakanda</h5>
    
            <p>
            siguenos en nuestra redes sociales para que disfrutes de nuestro excelente servicio como desarollador de video juegos espero que se haya sido de mucho agrado la pagina
            </p>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Correos</h5>
    
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white"><i class="fab fa-facebook-f"></i
                    >&nbsp;{{correoobject.nombre1}}</a>
              </li>
              <li>
                <a href="#!" class="text-white"> <i class="fab fa-twitter"></i
                    >&nbsp;{{correoobject.nombre2}}</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fab fa-google"></i
                    >&nbsp;{{correoobject.nombre3}}</a>
              </li>
              <li>
                <a href="#!" class="text-white"><i class="fab fa-instagram"></i
                    >&nbsp;{{correoobject.nombre4}}</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
    
          <!--Grid column-->
          <div class="col-lg-3 col-md-6">
            <h5 class="text-uppercase mb-0">Numero de telefonos</h5>
    
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-white">{{correoobject.telefono1}}</a>
              </li>
              <li>
                <a href="#!" class="text-white">{{correoobject.telefono2}}</a>
              </li>
              <li>
                <a href="#!" class="text-white">{{correoobject.telefono3}}</a>
              </li>
              <li>
                <a href="#!" class="text-white">{{correoobject.telefono4}}</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
     
    </footer>
