<app-menu></app-menu>
<br>
<div class="container">
  <div class="form-inline">
    &nbsp; &nbsp;&nbsp;
    <div class="form-group">
      <input [(ngModel)]="cartaToFind" type="text" class="form-control mr-3" id="inputBuscar"
        placeholder="Buscar Cartas" />
    </div>
    <button (click)="findcarta()" class="btn btn-primary  mr-2">Buscar</button>
    <button (click)="resetListcarta()" class="btn btn-danger mr-2">Limpiar</button>
    <button (click)="showAddCartaForm()" class="btn btn-warning ">{{ showNewCarta?"Cerrar":"Agregar Nueva Carta"}}</button>
  </div>

  <div class="row" *ngIf="showNewCarta; else opcion2">
    <div  class = "row col-md-9">
      <app-clash (deletecartaEventFromParent)="deletecarta($event)" class="col-md-4" [currentCartas]="item"
        *ngFor="let item of cartasListObject"></app-clash>
    </div> &nbsp;
    <app-clash-form (addCartaEventFromParent)="addCarta($event)" class = "mt-4  col-md-3"></app-clash-form>
  </div>
  <ng-template #opcion2>
    <div class="row">
       <app-clash (deletecartaEventFromParent)="deletecarta($event)" class="col-md-3" [currentCartas]="item"
          *ngFor="let item of cartasListObject"></app-clash>
    </div>
  </ng-template>

</div>
<app-publicacion></app-publicacion>
<app-piedepagina></app-piedepagina>