<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--cabeza-->
    <header class="header">
        <div class="container vh-50">
            <!-- navbar -->
            <nav class="row  text-white justify-content-between  align-items-center text-uppercase pt-4">
                <!--logo-->
                <h6> <a href="index.html" class="col-auto text-reset">
                        <img src="https://3.bp.blogspot.com/--2uOIicngm8/VyhgigOBM8I/AAAAAAAAACM/P5iGGb08m7UwU-H5u3fva_3vWO-TC5JqwCLcB/s1600/jXF32Q1.png"
                            style="width: 75px; "> <span> &nbsp;
                            {{infoSiteObject.title}}</span>
                    </a> </h6>

                <!--hinpervinculos-->
                <div class="col-auto">
                    <h6>
                        <a href="index.html" class="text-reset pr-3 ">Inicio</a>
                        <a href="#" class="text-reset pr-3">Cartas</a>
                        <a href="#" class="text-reset p-3">Eventos</a>
                        <a href="#" class="text-reset p-3">Comunidad</a>
                        <a href="#" class="text-reset">Torneos</a>
                    </h6>
                </div>
            </nav>


            <!-- Info de pagina-->
            <section class="container">
                <div class="row justify-content-center">
                    <h1 class="text-capitalize ">
                        <img src="https://3.bp.blogspot.com/--2uOIicngm8/VyhgigOBM8I/AAAAAAAAACM/P5iGGb08m7UwU-H5u3fva_3vWO-TC5JqwCLcB/s1600/jXF32Q1.png"
                            style="width: 350px; height: 250px;">
                    </h1>
                </div>
            </section>
            <section class="container">
                <div class="row justify-content-md-center ">

                    <!--Descripcion #2-->

                    <div class="col-3 text-center">&nbsp;
                        <img src="../../../assets/pngegg.png"
                        style="width: 40px; height: 50px; ">  &nbsp;
                        <h5 class="text-warning font-weigh-bold">CARTAS</h5>
                        <p class="text-white font-weight-bold text-capitalize">Disfruta un sin numero de cartas del juego
                        </p>
                    </div>

                    <div class=" col-3 text-center">
                        <img src="../../../assets/dos.png"
                        style="width: 40px; height: 50px; ">  &nbsp;
                        <h5 class="text-warning">TORNEOS</h5>
                        <p class="text-white font-weight-bold text-capitalize">Unete en nuestro grandiosos torneos</p>
                    </div>

                    <div class="col-3 text-center">
                        <img src="../../../assets/hah.png"
                        style="width: 40px; height: 50px; ">  &nbsp;
                        <h5 class="text-warning ">PREMIOS</h5>
                        <p class="text-white font-weight-bold text-capitalize">grandes premios que te llevaras por
                            participar</p>
                    </div>
                </div>

            </section>


        </div>
        <svg viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill=" rgb(20, 73, 92)" points="0,0,75,100,0,100" />
            <polygon fill=" rgb(20, 73, 92)" points="75,100,100,50,100,100" />
        </svg>
    </header>

<!-- Jquery -->
<script src="./js/jquery-3.5.0.min.js"></script>
<!-- Popper -->
<script src="./js/popper.min.js"></script>
</body>
</html>





